<md-content layout-padding>
  <h3>Add New Student</h3>

  <div layout="" layout-sm="column">
    <md-input-container flex="">
        <label>Serial Number</label>
        <input ng-model="student.studentId" type="text" autofocus="autofocus">
    </md-input-container>
  </div>

  <div layout="" layout-sm="column">
    <md-input-container flex="">
      <label>Name</label>
      <input ng-model="student.studentName">
    </md-input-continer>
  </div>
  <div layout="" layout-sm="column">
    <md-input-container flex="">
      <label>Question Paper Code</label>
      <input ng-model="student.questionPaperCode">
    </md-input-continer>
  </div>
  <div layout="" layout-sm="column">
    <md-button class="md-raised md-primary" ng-click="create(student)">Create</md-button>
  </div>
</md-content>

