/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.hide-progress {
  display: none;
}

.hide-list {
  display: none;
}

.mtt-add-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.md-avatar-big {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    box-sizing: content-box;
}

