<div ng-controller="LoginCtrl" layout="column">
  <md-content layout-padding>
    <h4>Login</h4>
    <form name="loginForm">
      <div layout="" layout-sm="column">
        <md-input-container flex="">
          <label>User Name</label>
          <input ng-model="user.vuname">
        </md-input-continer>
      </div>
      <div layout="" layout-sm="column">
        <md-input-container flex="">
          <label>Password</label>
          <input ng-model="user.vpwd" type="password">
        </md-input-continer>
      </div>
      <div layout="" layout-sm="column">
        <md-button class="md-raised md-primary" ng-click="login(user)">Login</md-button>
        <md-button class="md-raised" id="register" ng-click="register()">Register</md-button>
      </div>
    </form>
  </md-content>
</div>
