<div ng-controller="RegisterCtrl" layout="column">
  <md-toolbar layout-padding>
    <h2>Agent Registration</h2>
  </md-toolbar>
  <md-content layout-padding>
    <div layout="" layout-sm="column">
      <md-input-container flex="">
        <label>Agent Name</label>
        <input ng-model="user.agent_name">
      </md-input-continer>
    </div>
    <div layout="" layout-sm="column">
      <md-input-container flex="">
        <label>User name</label>
        <input ng-model="user.user_name">
      </md-input-continer>
    </div>
    <div layout="" layout-sm="column">
      <md-input-container flex="">
        <label>Password</label>
        <input ng-model="user.password" type="password">
      </md-input-continer>
    </div>
    <div layout="" layout-sm="column">
      <md-input-container flex="">
        <label>Confirm Password</label>
        <input ng-model="user.confirm_password" type="password">
      </md-input-continer>
    </div>
    <div layout="" layout-sm="column">
      <md-button class="md-raised" ng-click="register(user)">Submit</md-button>
    </div>
  </md-content>
</div>
